---
layout: base
---
{% assign c = site.data.constants %}
<section id="hero" class="light color">
  <div id="ribbon"> Sold Out! </div>
  <div class="overlay color"></div>
  <div class="container">
    <nav class="navigation navigation-social">
      <ul class="navigation-bar">
        <li><a href="https://twitter.com/rubyforgood"><span class="fa fa-twitter"></span></a></li>
        <li><a href="https://github.com/rubyforgood"><span class="fa fa-github"></span></a></li>
        <li><a href="https://www.meetup.com/Arlington-Ruby/"><span class="fa fa-smile-o"></span></a></li>
        <li><a href="https://t.co/kUtI3lnpW1"><span class="fa fa-slack"></span></a></li>
      </ul>
    </nav>
    <div class="hero-content text-center">
      <div class="hero-small">

        <hr /><span>{{ site.data.constants.dates.start}} - {{ site.data.constants.dates.end}}, {{ site.data.constants.dates.year}}</span><hr />

      </div>
      <div class="hero-big">RUBY<wbr><span class="hero-big-em">FOR</span><wbr>GOOD</div>
      <div class="hero-normal">
        Dedicated to making the world <strong>gooder</strong>
      </div>
    </div>
    <div class="hero-bottom center">

      <a href="https://ti.to/codeforgood/rubyforgood" class="btn btn-huge btn-3d"><i class="fa fa-heart fa-1x"></i> Sign Up</a>
      <a href="https://www.customink.com/fundraising/rfg-2018" class="btn btn-huge btn-3d">Buy a Supporter Shirt</a>

    </div>
  </div>
</section>
<!-- End Hero Section -->
<!-- Header -->
{% include header.html %}
<!-- End Header -->

<!-- About Section -->
<section id="about" class="section dark">
  <div class="container">
    <div class="icon-wrap"><span class="icon icon-active icon-party-09"></span></div>
    <h3>Taking <a href="http://en.wikipedia.org/wiki/MINASWAN">MINASWAN</a> to heart</h3>
    <div class="sub-title">Don't stop at being nice - let's proactively do something good for our world, our community, ourselves.</div>
    <br />
    <br />
    <section class="nav-tabs-simple">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#aboutUs" data-toggle="tab"><i class="icon icon-documents-bookmarks-12"></i> About</a></li>
        <li><a href="#aboutDetails" data-toggle="tab"><i class="icon icon-chat-messages-01"></i> Projects</a></li>
        <li><a href="#jquery" data-toggle="tab"><i class="icon icon-education-science-11"></i> Team Leads</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div class="tab-pane fade in active" id="aboutUs">
          <article class="row">
            <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
              <img class="img-responsive" src="/assets/img/2016photo.jpg" alt="ruby-for-good-2014" />
            </div>
            <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
              <h6>About Ruby for Good</h6>
              <p>
                Ruby for Good is an annual event based out of the DC-metro area
                where Ruby programmers from all over the globe get together for a
                long weekend to build projects that help our communities. In 2018
                the event will take place in Washington DC at  <a
                href="https://georgetown.edu/">Georgetown University</a>. Participants stay in
                on-site dorms; hacking and socializing takes place in communal areas.
                Join us this year just for the fun of giving back! Questions? Drop us
                a <a href="mailto:{{ site.data.constants.contact_email }}">note</a>.
              </p>
            </div>
        </article></div>


        <div class="tab-pane fade" id="aboutDetails">
          <article class="row">
            <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
              <img class="img-responsive" src="assets/img/about-placeholder-starbucks.jpg" alt="starbuck" />
            </div>
            <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
              <h6>Down to Business</h6>
              <p>
                Projects in 2018 will be focused on issues facing our local communities. We have some great projects lined up but we need more! We need YOU to help us find other great projects - suggest a project below! Project details, including available teams to join, will be announced to attendees around the beginning of May. Team leads will get information on projects at the end of March.
              </p>

                <a class="btn btn-sm btn-primary" href="/submit-project.html">Suggest a Project</a>
              </p>

            </div>
          </article>
        </div>

        <div class="tab-pane fade" id="jquery">
          <article class="row">
            <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInLeft" data-delay="500">
              <h6>Team Leads</h6>
              <p>
                Have you always thought to yourself "Self, I rock—and I should
                lead something!”  Well here's your chance! We have lots of
                great projects and we need great people to lead them! Leading a
                team entails connecting with stakeholders, initial
                architecting, planning out project milestones, and keeping your
                team moving forward. Indicate your willingness when you
                register and we’ll be in touch!
              </p>
              <p>
                Learn more about what's expected of a team lead in the
                <a href="team-leads">The Team Lead Guide</a>.
              </p>
              <p>
                On a related note, we couldn’t successfully organize Ruby for
                Good without amazing volunteer team leads. Once again a huge
                thanks for all the hard work put in by last year’s leads!
              </p>
            </div>
            <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInRight" data-delay="500">
              <img class="img-responsive" src="https://lh3.googleusercontent.com/-OFLetVVNdGs/U90zTgkiwDI/AAAAAAAAE9c/siJVI2YKwro/w929-h697-no/IMG_20140802_145029.jpg" alt="placeholder" />
            </div>
          </article>
        </div>



      </div>
    </section>
  </div>
</section>
<!-- End About Section -->

<!-- Newsletter Section -->
<section id="newsletter" class="section light">
  <div class="overlay"></div>
  <div class="container">
    <article class="article-big animated hiding" data-animation="fadeInDown" data-delay="0">
      <h5>Newsletter <span class="highlight">Signup</span></h5>
      <p>Get the latest updates, early notice for <span class="highlight">event registrations</span>, and other Ruby for Good news!</p>
        <form action="https://rubyforgood.us8.list-manage.com/subscribe/post?u=2eec95e401f96687d14f4af24&amp;id=65f831bb77" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll" class="">
            <div class="mc-field-group form-group form-inline">
              <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="your@email.com" style="width:400px" >
              <input type="submit" class="btn btn-xs btn-default" value="Subscribe" />
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2eec95e401f96687d14f4af24_65f831bb77" tabindex="-1" value=""></div>
          </div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </article>
  </div>
</section>
<!-- End Newsletter Section -->

<!-- Stat Section -->
<!--
<section id="stat" class="section light">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
          <div class="stat"><span class="value" data-from="0" data-to="82">82</span></div>
          <div class="stat-info">attendees</div>
          <hr />
          <p class="small">of your closest friends</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
          <div class="stat"><span class="value" data-from="0" data-to="71">71</span></div>
          <div class="stat-info">hours</div>
          <hr />
          <p class="small">short hours to build something meaningful</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
          <div class="stat"><span class="value" data-from="0" data-to="9">9</span>+</div>
          <div class="stat-info">teams</div>
          <hr />
          <p class="small">project teams making something amazing</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
          <div class="stat"><span class="value" data-from="0" data-to="12">12</span></div>
          <div class="stat-info">red pandas</div>
          <hr />
          <p class="small">that need extra love and snuggles</p>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- End Stat Section -->
<!-- Details Section -->
<section id="elements" class="section dark">
  <div class="container">
    <section class="vc-example">
      <article class="article-big">
        <h5>What you <span class="highlight">need</span> to know</h5>
        <p class="big">
          Bring yourself, your laptop, and whatever you plan on wearing. Lodging consists of shared dorm rooms (what better way to get to know new people!) complete with linens, pillows, blankets and towels. We'll also be supplying food, drinks, and fun atmosphere.
          For a more in-depth run down of the weekend, check out our <a href="/attend.html">attendee information</a> page. More questions? Drop us a <a href="mailto:{{ site.data.constants.contact_email }}">note</a>.
        </p>
      </article>
    </section>

    <section class="vc-example">

      <div class="col-md-6 col-sm-6 col-xs-12">
        <article>
          <div class="h7">
            What does it cost?
          </div>
          <p>
          {{ site.data.constants.cost }} all-inclusive. Registration includes room, linens, pillows,
          towels, swag, and three all-you-can-eat meals a day. We are a break-even operation; all funds go toward paying for the event!
          </p>

        </article>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <article>
          <div class="h7">
            Anything else?
          </div>
          <p>
          You’ll spend dinner meeting with your team, chatting about your projects, and getting your environments aligned. We’ve found the event is most successful, with the most buy-in, when teams are a cohesive bunch from the beginning.
          </p>
        </article>
      </div>

    </section>
  </div>
</section>
<!-- Speakers Section -->
<section id="speakers" class="section light">
  <div class="overlay"></div>
  <div class="container">
    <div class="icon-wrap"><span class="icon icon-active icon-badges-votes-13"></span></div>
    <h3>Our Organizers</h3>
    <div class="sub-title">The folks you can blame for Ruby for Good</div>
    <br />
    <br />
    <section class="row">
      {% for person in site.data.organizers %}
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="0">
          <div class="img-wrapper">
            <img src="{{ person.img }}" class="img-speaker img-responsive img-circle" />
          </div>
          <div class="name">{{ person.name }}</div>
          <div class="sub">{{ person.title }}</div>
          <p class="small">{{ person.about }}</p>
          <div class="social-link">
            <a href="https://twitter.com/{{ person.twitter }}"><span class="fa fa-twitter"></span></a>
            <a href="https://github.com/{{ person.github }}"><span class="fa fa-github"></span></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
    <!--
    <div class="btn-wrapper">
      <a href="#" class="btn btn-sm btn-default">See all speakers</a>
    </div>
    -->
  </div>
</section>
<!-- End Speakers Section -->
<!-- Schedule Section -->
<!--
<section id="schedule" class="section dark">
  <div class="container">
    <div class="icon-wrap"><span class="icon icon-active icon-text-hierarchy-07"></span></div>
    <h3>Full schedule</h3>
    <div class="sub-title">Shortest way to explore what will happen at Ruby for Good</div>
    <br />
    <br />
    <section class="nav-tabs-default hidden-xs">
      <ul class="nav nav-tabs">
        <li><a href="#PreConf" data-toggle="tab">
          <div class="title">PreConf</div>
          <div class="subtitle">7/30/2014</div>
        </a></li>
        <li class="active"><a href="#DayOne" data-toggle="tab">
          <div class="title">Day 1</div>
          <div class="subtitle">7/31/2014</div>
        </a></li>
        <li><a href="#DayTwo" data-toggle="tab">
          <div class="title">Day 2</div>
          <div class="subtitle">8/01/2014</div>
        </a></li>
        <li><a href="#DayThree" data-toggle="tab">
          <div class="title">Day 3</div>
          <div class="subtitle">8/02/2014</div>
        </a></li>
        <li><a href="#After" data-toggle="tab">
          <div class="title">AfterConf</div>
          <div class="subtitle">8/03/2014</div>
        </a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade" id="PreConf">
          <article>
            <div class="panel-title">
              <p class="big">
              Nothing has been scheduled yet but depending on how many people are coming early we will definitely do something fun. Some thoughts that are currently floating around are a <a href="http://www.trolleytours.com/washington-dc/night-tours.asp">night time tour of the monuments</a>, a visit to <a href="http://airandspace.si.edu/visit/udvar-hazy-center/"> udvar hazy </a> or maybe something else. If there is something you'd like to see or do in the Nations Capital we are definitely open to suggestions! Send us an <a href="mailto:{{ site.data.constants.contact_email }}">email</a>.</p>
            </div>
          </article>
        </div>
        <div class="tab-pane fade in active" id="DayOne">

          <ul class="nav nav-tabs">
            <li class="active"><a href="#DayOne-1" data-toggle="tab">Planetary Hall</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade in active" id="DayOne-1">
              <div class="panel-group timeline-schedule" id="panelTimelineOne">

                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 8:00 AM</div>
                      <h4>
                        Check In
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>Check in and start meeting your fellow Gooders</p>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 9:00 AM</div>
                      <h4>
                        Breakfast
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>
                    Prepared by teams 1 and 2
                    </p>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 10:00 AM</div>
                      <h4>
                        Hacking
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>
                    Getting started
                    </p>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 1:00 PM</div>
                      <h4>
                        Lunch
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>
                    Prepared by teams 3 and 4
                    </p>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 3:00 PM</div>
                      <h4>
                        Hacking
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>
                    Stay on target
                    </p>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 7:00 PM</div>
                      <h4>
                        Dinner
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>
                    Prepared by teams 5 and 6
                    </p>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 9:00 PM</div>
                      <h4>
                        Fun
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>
                    Boardgames, Socializing, Whatever
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="clearfix"></div>

        </div>
        <div class="tab-pane fade" id="DayTwo">

          <ul class="nav nav-tabs">
            <li class="active"><a href="#DayTwo-1" data-toggle="tab">Planetary Hall</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade in active" id="DayTwo-1">
              <div class="panel-group timeline-schedule" id="panelTimelineOne">

                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 9:00 AM</div>
                      <h4>
                        Breakfast
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>
                    Prepared by teams 7 and 8
                    </p>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 10:00 AM</div>
                      <h4>
                        Workshop?
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>
                    Check back here for a link to download materials and github repo.
                    </p>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 12:30 PM</div>
                      <h4>
                        Lunch
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>
                    Prepared by teams 9 and 10
                    </p>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 2:00 PM</div>
                      <h4>
                        Workshop?
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>
                    Check back here for a link to download materials and github repo.
                    </p>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 4:00 PM</div>
                      <h4>
                        Workshop?
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>
                    Check back here for a link to download materials and github repo.
                    </p>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 6:00 PM</div>
                      <h4>
                        Dinner
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>
                    Prepared by teams 11 and 12
                    </p>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="speaker-wrapper">
                    <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                  </div>
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="time"><i class="fa fa-clock-o"></i> 7:30 PM</div>
                      <h4>
                        Fun
                      </h4>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p>
                    Boardgames, Socializing, Whatever
                    </p>
                  </div>
                </div>

              </div>
            </div>
            <div class="clearfix"></div>

          </div>

        </div>
        <div class="tab-pane fade" id="DayThree">

          <ul class="nav nav-tabs">
            <li class="active"><a href="#DayThree-1" data-toggle="tab">Planetary Hall</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade in active" id="DayThree-1">
              <div class="panel-group timeline-schedule" id="panelTimelineOne">

                <div class="tab-content">

                  <div class="panel panel-default">
                    <div class="speaker-wrapper">
                      <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                    </div>
                    <div class="panel-heading">
                      <div class="panel-title">
                        <div class="time"><i class="fa fa-clock-o"></i> 9:00 AM</div>
                        <h4>
                          Breakfast
                        </h4>
                      </div>
                    </div>
                    <div class="panel-body">
                      <p>
                      Prepared by teams 13 and 14
                      </p>
                    </div>
                  </div>


                  <div class="panel panel-default">
                    <div class="speaker-wrapper">
                      <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                    </div>
                    <div class="panel-heading">
                      <div class="panel-title">
                        <div class="time"><i class="fa fa-clock-o"></i> 10:00 AM</div>
                        <h4>
                          Hacking
                        </h4>
                      </div>
                    </div>
                    <div class="panel-body">
                      <p>
                      Putting the finishing touches on our apps.
                      </p>
                    </div>
                  </div>


                  <div class="panel panel-default">
                    <div class="speaker-wrapper">
                      <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                    </div>
                    <div class="panel-heading">
                      <div class="panel-title">
                        <div class="time"><i class="fa fa-clock-o"></i> 12:30 PM</div>
                        <h4>
                          Lunch
                        </h4>
                      </div>
                    </div>
                    <div class="panel-body">
                      <p>
                      Prepared by teams 15 and 16
                      </p>
                    </div>
                  </div>


                  <div class="panel panel-default">
                    <div class="speaker-wrapper">
                      <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                    </div>
                    <div class="panel-heading">
                      <div class="panel-title">
                        <div class="time"><i class="fa fa-clock-o"></i> 2:00 PM</div>
                        <h4>
                          Presentations
                        </h4>
                      </div>
                    </div>
                    <div class="panel-body">
                      <p>
                      Let's show off what we've built and get feedback from each other. If we've made significant progress
                      we'll try and remote in the organizations that we're doing the work for
                      </p>
                    </div>
                  </div>


                  <div class="panel panel-default">
                    <div class="speaker-wrapper">
                      <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                    </div>
                    <div class="panel-heading">
                      <div class="panel-title">
                        <div class="time"><i class="fa fa-clock-o"></i> 6:00 PM</div>
                        <h4>
                          Dinner
                        </h4>
                      </div>
                    </div>
                    <div class="panel-body">
                      <p>
                      Prepared by teams 17 and 18
                      </p>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="speaker-wrapper">
                      <img src="assets/img/speaker/speaker-1.jpg" class="img-responsive img-circle" alt="speaker-1" />
                    </div>
                    <div class="panel-heading">
                      <div class="panel-title">
                        <div class="time"><i class="fa fa-clock-o"></i> 7:30 PM</div>
                        <h4>
                          Fun and Goodbyes
                        </h4>
                      </div>
                    </div>
                    <div class="panel-body">
                      <p>
                      Like all great things, Ruby for Good will come to an end. We'll say goodbye to our new friends
                      and leave happy and better for the amazing experience we will all have just shared.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
              <div class="clearfix"></div>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="After">
          <article>
            <div class="panel-title">
            <p class="big">We're going to enjoy the company of good friends who we won't see again for a while as our numbers slowly dwindle to outbound flights.</p>
            <p class="big">Feel free to hang out for a while.</p>
          </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  </div>
</section>
-->
<!-- End Schedule Section -->
<!-- Price Section -->
<!--
<section id="price" class="section dark">
  <div class="container">
    <div class="icon-wrap"><span class="icon icon-active icon-shopping-02"></span></div>
    <h3>Pricetable</h3>
    <div class="sub-title">Shortest way to explore what will happen on Ruby for Good</div>
    <br/>
    <br/>
    <div class="pricing-cols pricing-3-cols">
      <div class="pricing-col animated hiding" data-animation="fadeInLeft" data-delay="0">
        <div class="pricing-col-header">
          <h3 class="pricing-col-header-title">1 day</h3>
          <h4 class="pricing-col-header-amount">
            <span class="pricing-col-amount">$100</span></h4>
        </div>
        <div class="pricing-col-content">
          <ul>
            <li>Lorem ipsum is simply</li>
            <li>Dummy text of the printing</li>
            <li>Typesetting industry</li>
          </ul>
          <a class="pricing-col-button" href="register.html">Buy Now</a>
        </div>
      </div>
      <div class="pricing-col pricing-col-featured">
        <div class="pricing-ribbon">-20%</div>
        <div class="pricing-col-header">
          <h3 class="pricing-col-header-title">3 days</h3>
          <h4 class="pricing-col-header-amount"><span class="pricing-col-amount">$150</span></h4>
        </div>
        <div class="pricing-col-content">
          <ul>
            <li>Lorem ipsum is simply</li>
            <li>Dummy text of the printing</li>
            <li>Typesetting industry</li>
          </ul>
          <a class="pricing-col-button" href="register.html">Buy Now</a>
        </div>
      </div>
      <div class="pricing-col animated hiding" data-animation="fadeInRight" data-delay="0">
        <div class="pricing-col-header">
          <h3 class="pricing-col-header-title">2 days</h3>
          <h4 class="pricing-col-header-amount"><span class="pricing-col-amount">$200</span></h4>
        </div>
        <div class="pricing-col-content">
          <ul>
            <li>Lorem ipsum is simply</li>
            <li>Dummy text of the printing</li>
            <li>Typesetting industry</li>
          </ul>
          <a class="pricing-col-button" href="register.html">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- End Price Section -->
<!-- Map Section -->
<section id="map" class="dark">
  <div id="canvas-map"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-7 animated hiding location" data-animation="fadeInLeft" data-delay="0">
        <h3><a href="location">Location</a></h3>
        <ul itemscope="" itemtype="http://schema.org/PostalAddress">
          <li itemprop="address"><i class="fa fa-map-marker highlight"></i>{{ site.data.constants.address }}</li>
          <li itemprop="email"><i class="fa fa-envelope highlight"></i>{{ site.data.constants.contact_email }}</li>
          <!--
            <li><i class="fa fa-clock-o highlight"></i><a href="/2017.html">2017 Event Information</a></li>
          -->
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Elements Section -->
<!--
<section id="elements" class="section dark">
  <div class="container">
        <section class="vc-example text-center">
          <h1>H1 <span class="highlight">Highlighted</span> text</h1>
          <h2>H2 <span class="highlight">Highlighted</span> text</h2>
          <h3>H3 <span class="highlight">Highlighted</span> text</h3>
          <h4>H4 <span class="highlight">Highlighted</span> text</h4>
          <h5>H5 <span class="highlight">Highlighted</span> text</h5>
          <h6>H6 <span class="highlight">Highlighted</span> text</h6>
          <div class="h7">H7 <span class="highlight">Highlighted</span> text</div>
          <div class="h8">H8 <span class="highlight">Highlighted</span> text</div>
        </section>
    <section class="vc-example">
      <article class="article-big">
        <h5>Big <span class="highlight">Paragraph</span></h5>
        <p class="big">Lorem Ipsum is simply dummy text of the <strong>printing and typesetting</strong> industry. Lorem Ipsum has been the industry's standard dummy text <a href="#">ever since</a> the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </article>
    </section>

    <section class="vc-example">
      <article>
        <div class="h7"><span class="highlight">Regular</span> Paragraph</div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </article>
    </section>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <section class="vc-example icon-example">
          <div class="h7"><span class="highlight">600+</span> Lines Icons included</div>
          <ul class="list-inline">
            <li><i class="icon icon-office-04 icon-active"></i></li>
            <li><i class="icon icon-office-11 icon-active"></i></li>
            <li><i class="icon icon-office-10 icon-active"></i></li>
            <li><i class="icon icon-office-09 icon-active"></i></li>
            <li><i class="icon icon-office-08 icon-active"></i></li>
            <li><i class="icon icon-office-07 icon-active"></i></li>
            <li><i class="icon icon-office-06 icon-active"></i></li>
            <li><i class="icon icon-office-05 icon-active"></i></li>
            <li><i class="icon icon-office-04 icon-active"></i></li>
            <li><i class="icon icon-office-11 icon-active"></i></li>
          </ul>
        </section>
      </div>
    </div>

    <section class="vc-example">
      <div class="h7"><span class="highlight">Gallery</span></div>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a href="assets/img/gallery/thumb-1.jpg" class="thumb-wrapper fancybox" data-fancybox-group="gallery">
            <div class="overlay">Image Title</div>
            <img src="assets/img/gallery/thumb-1.jpg" class="img-responsive" alt="thumb-1" />
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a href="assets/img/gallery/thumb-2.jpg" class="thumb-wrapper fancybox" data-fancybox-group="gallery">
            <div class="overlay">Image Title</div>
            <img src="assets/img/gallery/thumb-2.jpg" class="img-responsive" alt="thumb-2" />
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a href="assets/img/gallery/thumb-3.jpg" class="thumb-wrapper fancybox" data-fancybox-group="gallery">
            <div class="overlay">Image Title</div>
            <img src="assets/img/gallery/thumb-3.jpg" class="img-responsive" alt="thumb-3" />
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a href="assets/img/gallery/thumb-4.jpg" class="thumb-wrapper fancybox" data-fancybox-group="gallery">
            <div class="overlay">Image Title</div>
            <img src="assets/img/gallery/thumb-4.jpg" class="img-responsive" alt="thumb-4" />
          </a>
        </div>
      </div>
    </section>

    <div class="row">
      <div class="col-md-6 col-md-offset-3 center">
        <div class="row">
          <div class="col-md-6 center">
            <a href="#" class="btn btn-sm btn-primary">More elements</a>
          </div>
          <div class="col-md-6 center">
            <a href="elements.html" class="btn btn-sm btn-secondary">Get template</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
-->
<!-- End Elements Section -->
<!-- Scholarship Section -->
<section id="register" class="section light">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
        <br/>
        <br/>
      <article class="article-big animated hiding" data-animation="fadeInUp" data-delay="0">
        <h5> Want to participate but need some help?  </h5>
        <p>

          The scholarship application window has closed. If you applied for a scholarship but haven't heard anything please <a href="mailto:{{ site.data.constants.contact_email }}?subject=Scholarship" ><font color="black">let us know!</font></a>


        <!-- Ruby For Good is providing scholarship tickets to allow more people the opportunity to participate. The deadline to apply for a scholarship is April 19th and everyone who applies will be notified after the 20th of April. Click the link below to submit your request! -->

        <br/>
        <br/>

        <!-- <a href="https://docs.google.com/forms/d/1M3PJepMOZcqUcIN81Ju7YEeXpQKhYWnSWnmgeZTX33w/viewform#start=openform" class="btn btn-sm btn-tertiary">Apply for a Scholarship</a> -->

        </p>
      </article>
    </div>
  </div>
</section>
<!-- End Register Section -->
<!-- Sponsors Section -->

<section id="sponsors" class="section dark">
  <div class="container">
    <div class="icon-wrap"><span class="icon icon-active icon-documents-bookmarks-12"></span></div>
    <h3>Sponsors</h3>

    <div class="sub-title">The folks that make the good possible</div>
    <br/>
    <hr>
    <div class="row">
      <ul class="list-ruby list-inline">
        <li><a href="https://www.mapbox.com/"><img src="assets/img/sponsor/mapbox-logo-color.svg" alt="sponsor-1"></a></li>
      </ul>
      <hr>
      <ul class="list-platinum list-inline">
        <li><a href="http://www.knightpoint.com/"><img src="assets/img/sponsor/kps.png" alt="sponsor-2"></a></li>
        <li><a href="https://careers-excella.icims.com/jobs/search?ss=1&mobile=false&width=800&height=500&bga=true&needsRedirect=false&jan1offset=-300&jun1offset=-240"><img src="assets/img/sponsor/excella.png" alt="sponsor-3"></a></li>
        <li><a href="http://heroku.com"><img src="assets/img/sponsor/heroku.png" alt="sponsor-4"></a></li>
        <li><a href="https://godaddy.com"><img src="assets/img/sponsor/godaddy.png" alt="sponsor-5"></a></li>
      </ul>
      <hr>
      <ul class="list-inline">
        <li><a href="https://www.vibes.com/company/careers/"><img src="assets/img/sponsor/vibes_blue_rgb.svg" alt="sponsor-6" /></a></li>
        <li><a href="https://flatironschool.com/washington-dc-campus/?utm_campaign=Sponsored_Content&utm_source=RubyforGood&utm_medium=DCCampus"><img src="assets/img/sponsor/flatiron.png" alt="sponsor-7" /></a></li>
        <li><a href="http://www.optoro.com/careers/"><img src="assets/img/sponsor/optoro-logo.png" alt="sponsor-8"></a></li>
        <li><a href="http://sevatec.com"><img src="assets/img/sponsor/sevatec.png" alt="sponsor-9" /></a></li>
        <li><a href="http://georgetown.edu"><img src="assets/img/sponsor/georgetown.png" alt="sponsor-10"></a></li>
        <li><a href="http://linode.com"><img src="assets/img/sponsor/linode.png" alt="sponsor-11" /></a></li>
      </ul>
      <hr>
      <ul class="list-inkind list-inline">
        <li><a href="https://www.stickermule.com/supports/opensource"><img src="assets/img/sponsor/stickermule.svg" alt="sponsor-12"></a></li>
        <li><a href="https://www.framebridge.com"><img src="assets/img/sponsor/framebridge.png" alt="sponsor-13"></a></li>
        <li><a href="https://www.customink.com"><img src="assets/img/sponsor/customi.jpg" alt="sponsor-14"></a></li>
      </ul>
    </div>

    <hr>
    <div class="row">
      <div class="btn-wrapper">
        <a href="/sponsors.html" class="btn btn-sm btn-primary">Become a Sponsor</a>
      </div>
    </div>
  </div>
</section>

<!-- End Price Section -->
<!-- End Map Section -->

