<header id="header" class="navigation-bar-header light hidden-xs">
  <div class="container">
    <nav class="navigation">
      <div class="navigation-txt visible-xs" data-toggle="dropdown">Home</div>
      <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="navigation-bar navigation-bar-left">
        <li><a href="#about">About</a></li>
        <!--<li><a href="#stat">Number Facts</a></li>-->
        <li><a href="#elements">Details</a></li>
        <li><a href="#speakers">Organizers</a></li>
        <!--<li><a href="#schedule">Schedule</a></li>-->
        <!--<li><a href="#price">Prices</a></li>-->
        <!--<li><a href="#elements">Shortcodes</a></li>-->
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="faq">FAQ</a></li>
        <li><a href="info.html">More Info</a></li>
        <li><a href="coc.html">Code of Conduct</a></li>
        <!--
        <li class="featured"><a href="http://rubyforgood.simpletix.com/SimpleTixExpress/Events/EventSectionDetail.aspx?ShowId=26039&EventTimeId=58394"><i class="fa fa-heart-o fa-1x"></i>Register</a></li>
        -->
        </li>
      </ul>
    </nav>
  </div>
</header>
