<header id="header" class="navigation-bar-header light hidden-xs">
  <div class="container">
    <nav class="navigation">
      <div class="navigation-txt visible-xs" data-toggle="dropdown">Ruby for Good</div>
      <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="navigation-bar navigation-bar-left">
        <li><a href="/"><strong>Ruby for Good</strong></a></li>
        <li><a href="/sponsors.html">Sponsoring</a></li>
        <li><a href="/submit-project.html">Suggest a Project</a></li>
        <li><a href="/attend.html">Attending</a></li>
        <li><a href="/2016.html">2016 Event Information</a></li>
        <li><a href="/coc.html">Code of Conduct</a></li>
        <!--
        <li class="featured"><a href="http://rubyforgood.simpletix.com/SimpleTixExpress/Events/EventSectionDetail.aspx?ShowId=26039&EventTimeId=58394"><i class="fa fa-heart-o fa-1x"></i>Register</a></li>
        -->
        </li>
      </ul>
    </nav>
  </div>
</header>
