<header id="header" class="navigation-bar-header light hidden-xs">
  <div class="container">
    <nav class="navigation">
      <div class="navigation-txt visible-xs" data-toggle="dropdown">Ruby for Good</div>
      <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="navigation-bar navigation-bar-left">
        <li><a href="/"><strong>Ruby for Good</strong></a></li>
        <li><a href="/sponsors.html">Sponsoring</a></li>
        <li><a href="/submit-project.html">Suggest a Project</a></li>
        <li class="dropdown">
          <a href="/attend" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Attend <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/2018">2018 Schedule</a></li>
            <li><a href="/attend">General Info</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Get Involved<span class="caret"></span></span></a>
          <ul class="dropdown-menu">
            <li><a href="/partner">Info for Non-Profits</a></li>
            <li><a href="/sponsors">Info for Sponsors</a></li>
            <li><a href="/team-leads">Info for Team Leads</a></li>
            <li><a href="/attend">Info for Volunteers</a></li>
          </ul>
        </li>
        <li><a href="/yearbook.html">Yearbook</a></li>
        <li><a href="/projects.html">Projects</a></li>
        </li>
      </ul>
    </nav>
  </div>
</header>
