.hero-big-em {
  color: rgba(0,0,0,0.1);
}

#schedule .panel .panel-title h4 {
font-size: 27px;
display: block;
padding: 10px 0px 5px 0px;
margin: 0px;
color: #57c2be;
}

.img-speaker {
  max-width: 142px;
}

.sponsor-link {
  margin-bottom: 15px;
}

.sponsor-link-text {
  font-weight: 300;
  color: white;
  font-size: 16px;

}

.sponsor-link-text:hover {
    color: white;
    text-decoration: underline;
  }

.github-avatars {
  padding: 0;
  list-style-type: none;
}

.github-avatars img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px rgba(0,0,0,0.1) solid;
}

.github-avatars li {
  display: inline-block;
  position: relative;
}

.github-avatars li:first-of-type {
  margin-right: 30px;
}

.github-avatars li:first-of-type:after {
  content: "→";
  position: absolute;
  top: 0;
  right: -25px;
  font-size: 20px;
  line-height: 50px;
}
