<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>Ruby for Good - Making the world gooder</title>
  <meta name="google-site-verification" content="NaUQKWhkoHxRAT_w3Q_s7_sNEhrvyziQXvHT63ZgfiA" />
  <meta name="description" content="Ruby for Good - Making the world gooder">
  <meta name="keywords" content="Ruby, code, community, conference">
  <meta name="author" content="Erwin Kaddy">

  <link rel="shortcut icon" href="assets/img/favicon.png">
  <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.jpg">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.jpg">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.jpg">

  <link href='https://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css'>

  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="assets/css/animate.css" type="text/css" media="all" />
  <link rel="stylesheet" href="assets/css/font-awesome.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="assets/css/font-lineicons.css" type="text/css" media="all" />
  <link rel="stylesheet" href="assets/css/jquery.fancybox.css" type="text/css" media="all" />
  <link rel="stylesheet" href="assets/css/style-2018.css" id="mainstyle" type="text/css" media="all" />
  <link rel="stylesheet" href="assets/css/custom.css" id="custom" type="text/css" media="all" />
  {% for css_name in page.extra_css %}<link rel="stylesheet" href="/assets/css/{{ css_name }}">{% endfor %}

  <!--[if lt IE 9]>
  <script src="assets/js/html5.js"></script>
  <script src="assets/js/respond.min.js"></script>
  <![endif]-->
</head>

<body id="index">
  <header id="mobileheader" class="navigation-bar-header light visible-xs"></header>
  <header class="navigation-bar-header-spacer visible-xs"></header>

  {{ content }}


  <footer id="footer"></footer>

  <div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>

  <!--[if lt IE 9]>
          <script type="text/javascript" src="assets/js/jquery-1.11.0.min.js?ver=1"></script>
      <![endif]-->
  <!--[if (gte IE 9) | (!IE)]><!-->
          <script type="text/javascript" src="assets/js/jquery-2.1.0.min.js?ver=1"></script>
      <!--<![endif]-->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script> -->
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.appear.js"></script>
  <script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
  <script type="text/javascript" src="assets/js/waypoints.min.js"></script>
  <script type="text/javascript" src="assets/js/waypoints-sticky.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.fancybox.js"></script>
  <script type="text/javascript" src="assets/mailchimp/js/mailing-list.js"></script>
  <script type="text/javascript" src="assets/js/scripts.js"></script>
  {% for js_name in page.extra_js %}<script type="text/javascript" src="{{ js_name }}"></script>{% endfor %}

</body>
</html>
