/* ==========================================================================
   Author's custom styles
   ========================================================================== */



@font-face {
    font-family: 'oswaldbook';
    src: url('../fonts/oswald/oswald-regular-webfont.eot');
    src: url('../fonts/oswald/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (min-width: 320px) {

	p {
		margin: 16px 0;
	}

	ul {
		padding-left: 20px;
	}

	h1, h2, h3 {
		text-align: center;
		line-height: 1.25em;
	}

	h3.intro {
		font-family: "Helvetica Neue", Helvetica, Arial, sans;
		font-size: 18px;
		margin: 2em 0;
	}

	h1 {
		text-transform: uppercase;
		color: white;
		line-height: 1.25em;
	}

	a {
		font-weight: bold;
		text-transform: uppercase;
	}

	section {
		padding: 2em 0;
	}

	section img {
		max-width: 100%;
		margin-bottom: 1em;
	}

	.underlay {
		background: rgba(255,255,255,.25);
		padding: .5em 1em;
	}

	/***************
	Header
	***************/

	.jumbotron {
		padding: 30px 10px;
	}

	.jumbotron h1 {
		text-transform: uppercase;
		margin-bottom: 0;
	}

	.jumbotron a {
		text-transform: none;
	}

	.jumbotron .btn {
		margin-top: 160px;
	}


	/******************
	Preamble
	******************/

	#preamble p {
		font-size: 1em;
		margin: 1em auto;
		text-align: center;
	}

	/******************
	Speakers
	******************/

	#speakers {
		color: black;
		background: rgb(179, 238, 245);
	}

	#speakers .intro {
		text-align: center;
	}

	#speakers img {
		background: white;
		border: 5px solid white;
		padding-bottom: 1em;
		margin-bottom: 0;
	}

	#speakers h1 {
		color: black;
	}

	#speakers h2, h4 {
		text-align: left;
		margin: 0;
	}

	#speakers h4 {
		font-family: Helvetica, Arial, sans-serif;
		color: #6D6E71;
	}

	#speakers p {
		margin: 1em 0;
	}

	#speakers ul {
		list-style-type: none;
		margin: 8px 0;
		padding: 8px;
		background: white;
		border-radius: 6px;
	}

	#speakers ul li {
		padding: 0 .25em;
	}

	#speakers img {
		display: block;
		max-width: 40%;
		float: left;
		margin-right: 1em;
		margin-bottom: .25em;
	}

	#speakers h2 {
		font-size: 1.25em;
	}

	#speakers p {
		font-size: 14px;
	}

	#speakers .speaker {
		margin-bottom: 1em;
	}


	/******************
	Events
	******************/

	#events {
		padding-top: 0;
	}

	.event h1 {
	  background-size: contain;
	  line-height: 150px;
	  color: white;
	}

	#inspiration h1 {
	  background: url(../img/red-overlay-light.png),
	              url(../img/roper.jpg) center center;
	}

	#participation h1 {
	    background: url(../img/blue-overlay-light.png),
	           	   	url(../img/dominion.jpg) center center;
	}

	.event h2 {
		font-size: 21px;
	}

	.event h3 {
		margin-top: 0;
		color: #6D6E71;
		font-size: 1.25em;
		margin-bottom: .25em;
		padding: 0;
	}

	.event h4 {
		text-align: center;
		font-family: Helvetica, Arial, sans-serif;
		color: #6D6E71;
	}

	/********************
	Challenges
	********************/

	#challenges {
		background: #cf1b41;
		color: white;
	}

	#challenges div {
	}

	#challenges img {
		display: block;
		max-width: 100%;
		margin: .5em auto;
		margin-bottom: 1em;
	}

	#challenges h1 {
	}

	#challenges h2 {
		margin-top: 10px;
	}

	#challenges p {
		text-align: center;
	}

	#challenges .underlay {
		margin-bottom: 1em;
	}

	/********************
	Activities
	********************/

	#activities {
		background: #B3EEF5;
	}

	#activities div {
		margin-bottom: 1em;
	}

	#activities img {
		display: block;
		max-width: 75px;
		margin: .5em auto;
		margin-bottom: 0;
	}

	#activities h1 {
		color: inherit;
	}

	#activities h2 {
		margin-top: 10px;
	}

	#activities p {
		text-align: center;
	}

	#activities div p:last-child {
		font-size: 12px;
		color: #5d242f;
		font-weight: bold;
		background: #D4ECF7;
		border-radius: 6px;
		padding: .5em 1em;
	}

	/********************
	Donors
	********************/

	#donors {
		text-align: center;
	}

	#donors h1 {
		color: inherit;
	}

	#donors img {
		display: inline-block;
		margin: 1.5em .25em;
		max-width: 240px;
        max-height: 200px;
	}

	/*******************
	FAQ
	*******************/

	#faq .question {
		margin-bottom: 1em;
	}

	#faq {
		background: #cf1b41;
		color: white;
	}

	/*******************
	Contact
	*******************/

	#contact {
		text-align: center;
	}

	#contact h1 {
		color: inherit;
	}

	#contact {
		text-align: center;
	}

	#contact .btn {
		margin-bottom: 1.5em;
	}

	/*******************
	attribution
	*******************/

	footer p {
		font-size: 12px;
	}

}

@media screen and (min-width: 481px) {
	#donors img {
		max-width: none;
		width: inherit !important;
	}


}

@media screen and (min-width: 768px) {

	h3.intro {
		width: 75%;
		margin: 2em auto;
	}

	/********************
	Preamble
	********************/

	#preamble p {
		width: 75%;
	}

	/********************
	Events
	********************/

	.event h1 {
		line-height: 200px;
	}

	.event h2 {
		text-align: left;
		padding: 0;
		margin: 0;
	}

	.event h3 {
		text-align: right;
	}

	.event h4 {
		margin-top: 0;
		text-align: left;
	}

	.event p {
		margin-top: 8px;
	}

	/******************
	Preamble
	******************/

	#preamble p {

	}

	/********************
	Donors
	********************/

	#donors img {
		margin: 1.5em 1em;
	}

	#donors .container {
		max-width: 1120px;
	}

	/********************
	Speakers
	********************/

	#speakers .speaker {
		padding: 0 3em;
	}

	#speakers .speaker img {
		max-width: 100%;
		margin-bottom: 1em;
	}



	/********************
	Challenges
	********************/

	#challenges h1 {
	}
	#challenges h2 {
		margin-top: 8px;
	}

	#challenges img {
		float: top;
		text-align: left;
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 24px;
	}

	#challenges p {
		text-align: left;
		color: white;
	}

	#challenges div p:last-child {
		text-align: right;
		display: inline-block;
	}

	#challenges .underlay {
		min-height: 390px;
	}

	#challenges #open-data-policy-challenge .underlay {
		min-height: 200px;
	}

	#challenges #open-data-policy-challenge img {
		float: left;
		margin-right: 1.5em;		
	}

	#challenges #open-data-policy-challenge h2 {
		text-align: left;
	}

	#challenges #open-data-policy-challenge p {
		font-size: 1.4em;
	}


	/********************
	Activities
	********************/

	#activities h1 {
		color: black;
	}

	#activities h2 {
		text-align: left;
		margin-top: 8px;
	}

	#activities img {
		float: left;
		text-align: left;
		max-width: 75px;
        margin: .5em auto;
        margin-bottom: 0;
	}

	#activities p {
		text-align: left;
	}
	#activities div p:last-child {
		text-align: left;
		display: inline-block;
	}
	
	/*******************
	FAQ
	*******************/

	#faq h2 {
		font-size: 21px;
	}

	#faq h3 {
		font-size: 18px;
	}

	#faq #involvement .underlay {
		height: 174px;
	}

	#faq .row {
	}

	/*******************
	Contact
	*******************/

	#contact h2, #contact h3 {
		text-align: center;
	}

}













